<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Classification System</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="header-title">
            <div class="card1">
                <h2>Email Classification System</h2>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="card">
            <form id="classificationForm">
                <h3><label for="emailContent">Enter Email Content:</label></h3>
                <textarea id="emailContent" name="emailContent" required></textarea>
                <button type="submit" class="button">Classify Email</button>
            </form>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="resultTitle"></h2>
        </div>
    </div>

    <script>
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];
        var resultTitle = document.getElementById("resultTitle");

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.getElementById("classificationForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var emailContent = document.getElementById("emailContent").value;

            fetch('/get_result', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'emailContent': emailContent
                })
            })
            .then(response => response.json())
            .then(data => {
                resultTitle.innerHTML = "Your Email is " + data.result;
                modal.style.display = "block";
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html>
